<!doctype html>
{% load static %}
<html class="no-js" lang="en">
    <head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <!-- animation -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- et line icon -->
    <link rel="stylesheet" href="{% static 'css/et-line-icons.css' %}"/>
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    <!-- themify icon -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- swiper carousel -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <!-- justified gallery -->
    <link rel="stylesheet" href="{% static 'css/justified-gallery.min.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">
    <!-- bootsnav -->
    <link rel="stylesheet" href="{% static 'css/bootsnav.css' %}">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
             <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav bg-white nav-box-width navbar-top">
        <div class="container-fluid nav-header-container">
            <div class="row">
                <!-- start logo -->
                <div class="col-md-2 col-xs-5">
                    <a href="index.html" title="Pofo" class="logo"><img src="images/logo.png"
                                                                        data-rjs="images/logo@2x.png"
                                                                        class="logo-dark default" alt="Pofo"><img
                            src="images/logo-white.png" data-rjs="images/logo-white@2x.png" alt="Pofo"
                            class="logo-light"></a>
                </div>
                <!-- end logo -->
                <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse"
                            data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                        <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal"
                            data-in="fadeIn" data-out="fadeOut">
                            <!-- start menu item -->
                            <li class="dropdown megamenu-fw">
                                    <a href="{% url 'index' %}">Inicio</a></a><i class="fas fa-angle-down dropdown-toggle" aria-hidden="true"></i>
                                </li>
                                <li class="dropdown megamenu-fw">
                                    <a href="{% url 'acercade' %}">Empresa</a><i class="fas fa-angle-down dropdown-toggle" aria-hidden="true"></i>
                                </li>
                                <li class="dropdown megamenu-fw">
                                    <a href="{% url 'portafolio' %}">Portafolio</a><i class="fas fa-angle-down dropdown-toggle" aria-hidden="true"></i>
                                </li>

                                <li class="dropdown simple-dropdown">
                                    <a href="{% url 'single' %}">Productos</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>

                                </li>
                                <li class="dropdown simple-dropdown">
                                    <a href="{% url 'servicios' %}">Servicios</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>

                                </li>

                                <li class="dropdown megamenu-fw">
                                    <a href="{% url 'contacto' %}">Contacto</a><i class="fas fa-angle-down dropdown-toggle" aria-hidden="true"></i>
                                </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-xs-5 width-auto">
                    <div class="header-searchbar">
                        <a href="#search-header" class="header-search-form text-white"><i
                                class="fas fa-search search-button"></i></a>
                        <!-- search input-->
                        <form id="search-header" method="post" action="search-result.html" name="search-header"
                              class="mfp-hide search-form-result">
                            <div class="search-form position-relative">
                                <button type="submit" class="fas fa-search close-search search-button"></button>
                                <input type="text" name="search" class="search-input"
                                       placeholder="Enter your keywords..." autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="header-social-icon xs-display-none">
                        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i
                                class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/" title="Twitter" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                        <a href="https://dribbble.com/" title="Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
</header>
<!-- end header -->
<!-- start page title section -->
<section class="wow fadeIn bg-extra-dark-gray padding-35px-tb page-title-small top-space padding-5px-top">
    <div class="container">
        <div class="row equalize">
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 display-table">
                <div class="display-table-cell vertical-align-middle text-left xs-text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-white font-weight-600 no-margin-bottom text-uppercase">Productos</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- end about product section -->
        <!-- start section -->
        <section class="wow fadeIn no-padding">
            <div class="container-fluid">
                <div class="row padding-15px-lr sm-no-padding-lr">
                    <div class="col-md-6 sm-margin-30px-bottom wow fadeInUp">
                        <img src="http://placehold.it/1300x864" class="width-100" alt=""/>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <img src="http://placehold.it/1300x864" class="width-100" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start product information section -->
        <section class="wow fadeIn no-padding-bottom fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center last-paragraph-no-margin">
                        <h5 class="alt-font text-extra-dark-gray font-weight-600">Beautiful and easy to understand UI, professional animations and drag &amp; drop</h5>
                        <p class="width-80 center-col display-inline-block xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end product information section -->
        <!-- start product gallery section -->
        <section class="wow fadeIn no-padding-top">
            <div class="container-fluid">
                <div class="row">
                    <!-- start product gallery item -->
                    <div class="col-lg-8 col-md-12 center-col text-center margin-35px-bottom xs-margin-15px-bottom wow fadeInUp">
                        <img src="http://placehold.it/1617x400" class="width-100" alt=""/>
                    </div>
                    <!-- end product gallery item -->
                    <!-- start product gallery item -->
                    <div class="col-lg-8 col-md-12 center-col text-center margin-35px-bottom xs-margin-15px-bottom wow fadeInUp">
                        <img src="http://placehold.it/1300x864" class="width-100" alt=""/>
                    </div>
                    <!-- end product gallery item -->
                    <!-- start product gallery item -->
                    <div class="col-lg-8 col-md-12 center-col text-center margin-35px-bottom xs-margin-15px-bottom wow fadeInUp">
                        <img src="http://placehold.it/1300x864" class="width-100" alt=""/>
                    </div>
                    <!-- end product gallery item -->
                    <!-- start product gallery item -->
                    <div class="col-lg-8 col-md-12 center-col text-center margin-35px-bottom xs-margin-15px-bottom wow fadeInUp">
                        <img src="http://placehold.it/1300x864" class="width-100" alt=""/>
                    </div>
                    <!-- end product gallery item -->
                    <!-- start product gallery item -->
                    <div class="col-lg-8 col-md-12 center-col text-center wow fadeInUp">
                        <img src="http://placehold.it/1300x864" class="width-100" alt=""/>
                    </div>
                    <!-- end product gallery item -->
                </div>
            </div>
        </section>
        <!-- end product gallery section -->
        <!-- start call to action section -->
        <section class="parallax wow fadeIn" data-stellar-background-ratio="0.2" style="background-image:url('http://placehold.it/1920x1200');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 center-col display-table extra-small-screen text-center col-md-8 xs-padding-15px-lr">
                        <div class="display-table-cell vertical-align-middle">
                            <span class="margin-15px-bottom display-block alt-font text-uppercase xs-margin-5px-bottom">Powerful wordpress website builder</span>
                            <h3 class="alt-font text-extra-dark-gray font-weight-600">We are delivering beautiful digital products for you</h3>
                            <a href="index.html" class="btn btn-dark-gray bg-white btn-large margin-20px-top xs-no-margin-top wow fadeInUp">Launch Website</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end call to action section -->
        <!-- start blog navigation bar section -->
        <section class="wow fadeIn no-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="display-table width-100 padding-30px-lr sm-padding-15px-lr">
                        <div class="width-45 text-left display-table-cell vertical-align-middle">
                            <div class="blog-nav-link blog-nav-link-prev text-extra-dark-gray">
                                <span class="text-medium-gray text-extra-small display-block text-uppercase xs-display-none">Previous Project</span>
                                <a href="single-project-page-02.html">
                                    <i class="ti-arrow-left blog-nav-icon"></i>
                                    Filamento Lamps
                                </a>
                            </div>
                        </div>
                        <div class="width-10 text-center display-table-cell vertical-align-middle">
                            <a href="portfolio-boxed-grid-overlay.html" class="blog-nav-link blog-nav-home"><i class="ti-layout-grid2-alt"></i></a>
                        </div>
                        <div class="width-45 text-right display-table-cell vertical-align-middle">
                            <div class="blog-nav-link blog-nav-link-next text-extra-dark-gray">    
                                <span class="text-medium-gray text-extra-small display-block text-uppercase xs-display-none">Next Project</span>
                                <a href="single-project-page-04.html">
                                    <i class="ti-arrow-right blog-nav-icon"></i>
                                    Best of Nature
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end blog navigation bar section -->
        <!-- start footer --> 
        <footer class="footer-standard-dark bg-extra-dark-gray"> 
            <div class="footer-widget-area padding-five-tb xs-padding-30px-tb">
                <div class="container">
                    <div class="row equalize xs-equalize-auto">
                        <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray sm-no-border-right sm-margin-30px-bottom xs-text-center">
                            <!-- start logo -->
                            <a href="index.html" class="margin-20px-bottom display-inline-block"><img class="footer-logo" src="images/logo-white.png" data-rjs="images/logo-white@2x.png" alt="Pofo"></a>
                            <!-- end logo -->
                            <p class="text-small width-95 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <!-- start social media -->
                            <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                <ul class="small-icon no-margin-bottom">
                                    <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="google text-white" href="https://plus.google.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <!-- end social media -->
                        </div>
                        <!-- start additional links -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray padding-45px-left sm-padding-15px-left sm-no-border-right sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Additional Links</div>
                            <ul class="list-unstyled">
                                <li><a class="text-small" href="index.html">Home Classic Corporate</a></li>
                                <li><a class="text-small" href="home-creative-business.html">Home Creative Business</a></li>
                                <li><a class="text-small" href="home-creative-designer.html">Home Creative Designer</a></li>
                                <li><a class="text-small" href="home-portfolio-minimal.html">Home Portfolio Minimal</a></li>
                                <li><a class="text-small" href="home-portfolio-parallax.html">Home Portfolio  parallax</a></li>
                                <li><a class="text-small" href="home-portfolio-personal.html">Home Portfolio Personal</a></li>
                            </ul>
                        </div>
                        <!-- end additional links -->
                        <!-- start contact information -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray padding-45px-left sm-padding-15px-left sm-clear-both sm-no-border-right  xs-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Contact Info</div>
                            <p class="text-small display-block margin-15px-bottom width-80 xs-center-col">POFO Design Agency<br> 301 The Greenhouse, Custard Factory, London, E2 8DY.</p>
                            <div class="text-small">Email: <a href="mailto:sales@domain.com">sales@domain.com</a></div>
                            <div class="text-small">Phone: +44 (0) 123 456 7890</div>
                            <a href="contact-us-modern.html" class="text-small text-uppercase text-decoration-underline">View Direction</a>
                        </div>
                        <!-- end contact information -->
                        <!-- start instagram -->
                        <div class="col-md-3 col-sm-6 col-xs-12 widget padding-45px-left sm-padding-15px-left xs-text-center">
                            <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-20px-bottom font-weight-600">Instagram portfolio</div>
                            <div class="instagram-follow-api">
                                <ul id="instaFeed-footer"></ul>
                            </div>
                        </div>
                        <!-- end instagram -->
                    </div>
                </div>
            </div>
            <div class="bg-dark-footer padding-50px-tb text-center xs-padding-30px-tb">
                <div class="container">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left text-small xs-text-center">&copy; 2017 POFO is Proudly Powered by <a href="http://www.themezaa.com" target="_blank" class="text-dark-gray">ThemeZaa</a></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right text-small xs-text-center">
                            <a href="javascript:void(0);" class="text-dark-gray">Term and Condition</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="text-dark-gray">Privacy Policy</a>
                        </div>
                        <!-- end copyright -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/skrollr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<!-- menu navigation -->
<script type="text/javascript" src="{% static 'js/bootsnav.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nav.js' %}"></script>
<!-- animation -->
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<!-- page scroll -->
<script type="text/javascript" src="{% static 'js/page-scroll.js' %}"></script>
<!-- swiper carousel -->
<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
<!-- counter -->
<script type="text/javascript" src="{% static 'js/jquery.count-to.js' %}"></script>
<!-- parallax -->
<script type="text/javascript" src="{% static 'js/jquery.stellar.js' %}"></script>
<!-- magnific popup -->
<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- portfolio with shorting tab -->
<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- images loaded -->
<script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<!-- pull menu -->
<script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/hamburger-menu.js' %}"></script>
<!-- counter -->
<script type="text/javascript" src="{% static 'js/counter.js' %}"></script>
<!-- fit video -->
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
<!-- equalize -->
<script type="text/javascript" src="{% static 'js/equalize.min.js' %}"></script>
<!-- skill bars -->
<script type="text/javascript" src="{% static 'js/skill.bars.jquery.js' %}"></script>
<!-- justified gallery -->
<script type="text/javascript" src="{% static 'js/justified-gallery.min.js' %}"></script>
<!-- pie chart -->
<script type="text/javascript" src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
<!-- instagram -->
<script type="text/javascript" src="{% static 'js/instafeed.min.js' %}"></script>
<!-- retina -->
<script type="text/javascript" src="{% static 'js/retina.min.js' %}"></script>
<!-- revolution -->
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>